apiVersion: v1
kind: Service
metadata:
  name: web-nginx
  namespace: web
spec:
  selector:
    app: web-nginx
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
